
<section class="markdown-body">

<h1><a href="/"><%= @app_config[:title] %></a></h1>

<form action="/" method="get">
<p>
URL：<input type="text" name="url" value="<%== @url.to_s %>" size="80">
</p>
<p>
<input type="submit" value="送信">
</p>
</form>

<% if @res %>

<h2>
<a href="<%== @res[:url] %>">
<%== @res[:title] %><br>
<%== @res[:url] %>
</a>
</h2>
host:  <%== @uri_info.host.to_s %><br>
path:  <%== @uri_info.path.to_s %><br>
query: <%== @uri_info.query.to_s %><br>
fragment: <%== @uri_info.fragment.to_s %><br>

<table border=1 >
<%
	@res[:links].each do |href,link|
%>
	<tr>
		<td><a target="_blank" href="/?url=<%== link.real_href %>">check</a></td>
		<td><a target="_blank" href="<%== link.real_href %>"><%== href %></a></td>
		<td><%== link.text %></td>
	</tr>

<% end %>
</table>

</section>

<% end %>

